{% if page_obj.has_other_pages %}
<div class="pagination">

    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">←</a></li>
    {% endif %}

    {% if page_obj.number >= 4 %}
    <li class="page-item"><a class="page-link" href="?page=1">1...</a></li>
    {% endif %}

    {% for number_page in paginator.page_range %}
    {% if number_page == page_obj.number %}
    <li class="page-item"><a class="page-link active" href="#">{{ number_page }}</a></li>
    {% elif number_page|add:2 >= page_obj.number and number_page|add:-2 <= page_obj.number %} 
    <li class="page-item"><a class="page-link" href="?page={{ number_page }}">{{ number_page }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.number <= paginator.num_pages|add:-3 %} 
    <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">...{{ paginator.num_pages }}</a></li>
    {% endif %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">→</a></li>
    {% endif %}


</div>
{% endif %}