{% load static %}
<!DOCTYPE html>
<html>

<head>

    <!-- Title -->
    <title>{{ title }}</title>
    <!-- End Title-->

    <!-- Sites Settings -->
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- End Sites Settings -->

    <!-- Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- End Link -->

</head>

<body>

    <!-- Preloader -->
    <!-- <div id="preloader">
        <div class="line"></div>
    </div> -->
    <!-- End Preloader -->


    <!-- Header -->
    <div class="main-header">

        <div class="header">

            <li class="nav-item">
                <a class="logo" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
            </li>

            {% for m in menu %}
            {% if m.title == 'Домашняя страница' %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url m.url_name %}">
                    {{ m.title }} <i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            {% elif m.title == 'О сайте' %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url m.url_name %}">
                    {{ m.title }} <i class="fa fa-search" aria-hidden="true"></i></a>
            </li>
            {% elif m.title == 'Добавить товар' %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url m.url_name %}">
                    {{ m.title }} <i class="fa fa-dropbox" aria-hidden="true"></i></a>
            </li>
            {% elif m.title == 'Добавить фото товара' %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url m.url_name %}">
                    {{ m.title }} <i class="fa fa-picture-o" aria-hidden="true"></i></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url m.url_name %}">{{ m.title }}</a>
            </li>
            {% endif %}
            {% endfor %}

        </div>

        <div class="header">

            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'login' %}">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'auth' %}">Зарегистрироваться</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Привет {{ request.user.username }} |
                    Выйти</a>
            </li>
            {% endif %}

        </div>

    </div>
    <!-- End Header -->


    <!-- Content -->
    <div class="content-container">

        <!-- Left Sidebar -->
        <div class="sidebar-container">
            <ul>
                <h3 class="sidebar-title">Боковая панель</h3>

                {% if category_selected == 0 %}
                <li class="sidebar-active"><a class="sidebar-link" href="{% url 'home' %}">Дом <span
                            class="fa fa-home"></span>
                    </a></li>
                {% else %}
                <li><a class="sidebar-link" href="{% url 'home' %}">Дом <span class="fa fa-home"></span>
                    </a></li>
                {% endif %}

                <li><a class="sidebar-link" href="{% url 'about' %}">О нас <span class="fa fa-user"></span></a>
                </li>
                <li><a class="sidebar-link" href="#">Сервисы <span class="fa fa-cogs"></span></a></li>
                <li><a class="sidebar-link" href="#">Контакты <span class="fa fa-paper-plane"></span></a></li>

                <h4 class="sidebar-block">Категории <span class="fa fa-suitcase"></span></h4>

                {% for category in categories %}
                {% if category_selected == category.id %}
                <li class="sidebar-active"><a class="sidebar-link" href="{{ category.get_absolute_url }}">{{
                        category.title }}
                        <span class="fa fa-sticky-note ml-4"></span></a></li>
                {% else %}
                <li><a class="sidebar-link" href="{{ category.get_absolute_url }}">{{ category.title }}
                        <span class="fa fa-sticky-note"></span></a></li>
                {% endif %}
                {% endfor %}

                <!-- <li><a href="#"><span class="fa fa-briefcase"></span>Works</a></li>
                <li><a href="#"><span class="fa fa-suitcase"></span>Gallery</a></li> -->

                <h4 class="sidebar-block">Покупки <span class="fa fa-truck"></span></h4>

                {% if request.user.is_authenticated %}
                {% if category_selected == 'cart' %}
                <li class="sidebar-active"><a class="sidebar-link" href="{{ cart.get_absolute_url }}">Корзина
                        <span class="fa fa-shopping-cart"></span></a></li>
                <li><a class="sidebar-link" href="{{ cart.get_absolute_url }}">Магазин <span
                            class="fa fa-shopping-basket"></span></a></li>
                {% else %}
                <li><a class="sidebar-link" href="{{ cart.get_absolute_url }}">Корзина <span
                            class="fa fa-shopping-cart"></span></a></li>
                <li><a class="sidebar-link" href="{{ cart.get_absolute_url }}">Магазин <span
                            class="fa fa-shopping-basket"></span></a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
        <!-- End Left Sidebar -->


        <!-- Product Block -->
        <div class="content-container">
            <div class="card-container">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- End Product Block -->

    </div>
    <!-- End Content -->


    <!-- Pagination -->
    <div class="main-pagination">
        {% include './inc/_pagination.html' %}
    </div>
    <!-- End Pagination -->


    <!-- Footer -->
    <footer>
        <div class="main-footer-container">
            <div class="footer-container">
                <div class="footer-block">
                    <h3>Дизайн</h3>
                    <li class="footer-item"><a class="footer-link" href="/">Ipsum Ammet</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Sit Sit</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Ammet Rust</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Lorem Dollor</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Dollor Sit</a></li>
                </div>
                <div class="footer-block">
                    <h4>Частые Вопросы</h4>
                    <li class="footer-item"><a class="footer-link" href="/">Lorem Dollor?</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Ipsum Ammet</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Dollor Sit?</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Sit Sit?</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Ammet Rust?</a></li>
                </div>
                <div class="footer-block">
                    <h4>Обратная связь</h4>
                    <li class="footer-item">
                        <a class="footer-social-link" href="/"><i class="fa fa-paper-plane"></i></a>
                        <a class="footer-social-link" href="/"><i class="fa fa-facebook"></i></a>
                        <a class="footer-social-link" href="/"><i class="fa fa-twitter"></i></a>
                        <a class="footer-social-link" href="/"><i class="fa fa-github"></i></a>
                    </li>
                    <li class="footer-item">Some more Text</li>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <script src="{% static 'js/preloader.js' %}"></script>
</body>

</html>