{% load static %}
<!DOCTYPE html>
<html>

<head>

    <!-- Title -->
    <title>{{ title }}</title>
    <!-- End Title-->

    <!-- Sites Settings -->
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- End Sites Settings -->

    <!-- Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- End Link -->

</head>

<body>

    <!-- Preloader -->
    <!-- <div id="preloader">
        <div class="line"></div>
    </div> -->
    <!-- End Preloader -->


    <!-- Header -->
    <div class="main-header">

        <div class="header">

            <a class="logo" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>

            {% for m in menu %}
            {% if m.title == 'Домашняя страница' %}
            <a class="nav-link" aria-current="page" href="{% url m.url_name %}">
                {{ m.title }} <i class="fa fa-home"></i></a>
            {% elif m.title == 'О сайте' %}
            <a class="nav-link" aria-current="page" href="{% url m.url_name %}">
                {{ m.title }} <i class="fa fa-search"></i></a>
            {% elif m.title == 'Добавить товар' %}
            <a class="nav-link" aria-current="page" href="{% url m.url_name %}">
                {{ m.title }} <i class="fa fa-dropbox"></i></a>
            {% elif m.title == 'Добавить фото товара' %}
            <a class="nav-link" aria-current="page" href="{% url m.url_name %}">
                {{ m.title }} <i class="fa fa-picture-o"></i></a>
            {% else %}
            <a class="nav-link" aria-current="page" href="{% url m.url_name %}">{{ m.title }}</a>
            {% endif %}
            {% endfor %}
        </div>

        <div class="header">

            {% if not request.user.is_authenticated %}
            <a class="nav-link" aria-current="page" href="{% url 'login' %}">Войти</a>
            <a class="nav-link" aria-current="page" href="{% url 'auth' %}">Зарегистрироваться</a>
            {% else %}
            <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Привет {{ request.user.username }} |
                Выйти</a>
            {% endif %}

        </div>

    </div>
    <!-- End Header -->


    <!-- Container -->
    <div class="content-container">

        <!-- Left Sidebar -->
        <div class="sidebar-container">
            <ul>
                <div class="sidebar-nav-panel">Навигационная Панель</div>

                {% if category_selected == 0 %}
                <a class="sidebar-link-active" href="{% url 'home' %}">Дом <span class="fa fa-home"></span></a>
                {% else %}
                <a class="sidebar-link" href="{% url 'home' %}">Дом <span class="fa fa-home"></span></a>
                {% endif %}

                <a class="sidebar-link" href="{% url 'about' %}">О нас <span class="fa fa-user"></span></a>

                <a class="sidebar-link" href="#">Сервисы <span class="fa fa-cogs"></span></a>
                <a class="sidebar-link" href="#">Контакты <span class="fa fa-paper-plane"></span></a>

                <div class="sidebar-block">Категории <span class="fa fa-suitcase"></span></div>

                {% for category in categories %}
                {% if category_selected == category.id %}
                <a class="sidebar-link-active" href="{{ category.get_absolute_url }}">{{category.title }}
                    <span class="fa fa-sticky-note"></span></a>
                {% else %}
                <a class="sidebar-link" href="{{ category.get_absolute_url }}">{{ category.title }}
                    <span class="fa fa-sticky-note"></span></a>
                {% endif %}
                {% endfor %}

                <!-- <a href="#"><span class="fa fa-briefcase"></span>Works</a>
                <a href="#"><span class="fa fa-suitcase"></span>Gallery</a> -->

                <div class="sidebar-block">Покупки <span class="fa fa-truck"></span></div>

                {% if request.user.is_authenticated %}
                {% if category_selected == 'cart' %}
                <a class="sidebar-link-active" href="{{ cart.get_absolute_url }}">Корзина
                    <span class="fa fa-shopping-cart"></span></a>
                <a class="sidebar-link" href="/">Магазин <span class="fa fa-shopping-basket"></span></a>
                {% else %}
                <a class="sidebar-link" href="{{ cart.get_absolute_url }}">Корзина <span
                        class="fa fa-shopping-cart"></span></a>
                <a class="sidebar-link" href="/">Магазин <span class="fa fa-shopping-basket"></span></a>
                {% endif %}
                {% endif %}
            </ul>
        </div>
        <!-- End Left Sidebar -->


        <!-- Slider -->
        <div class="slider-container" style="padding: 2em;">
            <img style="width: 100%;" src="{% static 'images/cat_1.jpg' %}" alt="slider">
        </div>
        <!-- End Slider -->

    </div>
    <!-- End Container -->


    <!-- Product Block -->
    <div class="content-container">
        {% block content %}{% endblock %}
    </div>
    <!-- End Product Block -->

    <!-- Special Product Block -->
    <div class="content-container">
        <div id="0" class="card-container">
            {% for product in products %}
            <div class="card">
        
                <div class="card-title">{{ product.name }}</div>
        
                {% if product.photo %}
                <div class="card-img-container">
                    <!-- <img class="card-img" src="{{ product.photo.photo.url }}" alt="card-img"> -->
                    <img class="card-img" src="{% static 'images/cat_2.jpg' %}" alt="card-img">
                </div>
                {% endif %}
        
                <div class="card-body">
                    <p class="card-text">
                        {{ product.description|truncatewords_html:30|safe }}
                    </p>
                    <div class="description-container">
                        <a class="description" href="{{ product.get_absolute_url }}">
                            <i class="fa fa-sliders"></i>
                            Посмотреть Описание
                        </a>
                    </div>
                    
                    <div class="read-more-container">
                        <a class="add-to-cart" href="{{ product.get_absolute_url_for_add_cart }}">
                            Добавить в корзину
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>
        
                </div>
        
            </div>
            {% empty %}
            {% endfor %}
        </div>
    </div>
    <!-- End Special Product Block -->


    <!-- Pagination -->
    <div class="main-pagination">
        {% include './inc/_pagination.html' %}
    </div>
    <!-- End Pagination -->


    <!-- Footer -->
    <footer id="footer">
        <div class="main-footer-container">
            <div class="footer-container">
                <div class="footer-block">
                    <h3>Дизайн</h3>
                    <li class="footer-item"><a class="footer-link" href="/">Ipsum Ammet</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Sit Sit</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Ammet Rust</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Lorem Dollor</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Dollor Sit</a></li>
                </div>
                <div class="footer-block">
                    <h4>Частые Вопросы</h4>
                    <li class="footer-item"><a class="footer-link" href="/">Lorem Dollor?</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Ipsum Ammet</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Dollor Sit?</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Sit Sit?</a></li>
                    <li class="footer-item"><a class="footer-link" href="/">Ammet Rust?</a></li>
                </div>
                <div class="footer-block">
                    <h4>Обратная связь</h4>
                    <li class="footer-item">
                        <a class="footer-social-link" href="/"><i class="fa fa-paper-plane"></i></a>
                        <a class="footer-social-link" href="/"><i class="fa fa-facebook"></i></a>
                        <a class="footer-social-link" href="/"><i class="fa fa-twitter"></i></a>
                        <a class="footer-social-link" href="/"><i class="fa fa-github"></i></a>
                    </li>
                    <li class="footer-item">Some more Text</li>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <script src="{% static 'js/preloader.js' %}"></script>
</body>

</html>