{% extends 'home/base.html' %}

{% block content %}
{% for product in products %}
<div class="card">
    {% if product.photo %}
    <img class="card-img" src="{{ product.photo.photo.url }}" alt="card-img">
    {% endif %}

    <div class="card-body">
        <h4 class="card-title">{{ product.name }}</h4>
        <p class="card-text">
            {{ product.description|truncatewords_html:30|safe }}
        </p>
        <a class="read-more" href="{{ product.get_absolute_url }}">Читать пост</a>
    </div>



</div>
{% empty %}
{% endfor %}
{% endblock %}