{% extends 'home/base.html' %}

{% block content %}
{% for product in products %}
<div class="col-lg-4 col-md-4 mt-4">
    <div class="card">
        {% if product.photo %}
        <img class="card-img-top" alt="..." src="{{ product.photo.photo.url }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description| linebreaks | truncatewords:50 }}</p>
            <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Читать пост</a>
        </div>
    </div>
</div>
{% empty %}
{% endfor %}
{% endblock %}
