{% extends 'home/base.html' %}

{% load static %}

{% block content %}

<div id="0" class="card-container">
    {% for product in products %}
    <div class="card">

        <div class="card-title">{{ product.name }}</div>

        {% if product.photo %}
        <div class="card-img-container">
            <!-- <img class="card-img" src="{{ product.photo.photo.url }}" alt="card-img"> -->
            <img class="card-img" src="{% static 'images/cat_2.jpg' %}" alt="card-img">
        </div>
        {% endif %}

        <div class="card-body">
            <p class="card-text">
                {{ product.description|truncatewords_html:30|safe }}
            </p>
            <div class="description-container">
                <a class="description" href="{{ product.get_absolute_url }}">
                    <i class="fa fa-sliders"></i>Посмотреть Описание
                </a>
            </div>

            <div class="price-container">
                {{ product.price }}
                <div class="price-description">
                    <div class="price">руб.</div>
                    <div class="amount">шт.</div>
                </div>
            </div>
            
            
            <a class="add-to-cart" href="{{ product.get_absolute_url_for_add_cart }}">
                Добавить в корзину
                <i class="fa fa-shopping-cart"></i>
            </a>

        </div>

    </div>
    {% empty %}
    {% endfor %}
</div>

{% endblock %}