{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>{{ title }}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block link %}<link rel="stylesheet" href="{% static 'css/register_login.css' %}">{% endblock %}

</head>
<body>
    <div class="form-container">

        <div class="title-container">
            <h1>{{ title }}</h1>
        </div>    
        
        <div class="content-container">
            <form method="post">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
        
                {% for f in form %}
                <div class="label-container">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}
                </div>  
                <div>{{ f.errors }}</div>
                {% endfor %}
        
                <button type="submit">Войти</button>
            </form>
        </div>
        
    </div>
</body>
</html>
