* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Yandex Sans Display Light !important;
}
/* block navbar */
.navbar {
    font-size: 1.25em;
    background: linear-gradient(90deg, #0d6efd 0%, #0000FD 100%);
    /*background-color: #0d6efd;*/
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #0d6efd;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    background-color: white;
    color: #0d6efd;
    text-decoration: none;
}
/* end block navbar */


/* block sidebar */
.nav-item .sidebar-link {
    color: #444444 !important;
    font-size: 1.25em;
    height: 100%;
}
.sidebar-container {
    background: #eee;
}
.h5, h5 {
    font-size: 1.5rem;
}
/* end block sidebar */


/* block content */
.row {
    --bs-gutter-x: 0;
}
.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
}
.content {
    margin-top: 4.7em;
}
/* end block content */


/* block preloader */
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
/* end block preloader */
