@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}


/* Header */
.main-header {
	display: flex;
	justify-content: space-between;
	background: linear-gradient(90deg, #0d6efd 0%, #0000FD 100%);
}
.header {
	display: flex;
	list-style-type: none;
}
.nav-item {
	transition: 0.75s;
}
.logo {
	display: block;
	padding: 0.5em;
}
.nav-link {
	display: block;
	padding: 1em;
	font-size: 1.25em;
	color: white;
	text-decoration: none;
}
.nav-item:hover {
	background: #0d6efd;
	border-radius: 45px;
}
/* End Header */


/* Grid */
.content-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.sidebar-container {
	grid-column: 1/3;
}
.content-container {
	grid-column: 3/13;
}
/* End Grid */


/* Sidebar */
.sidebar-container {
	background: linear-gradient(90deg, #0d6efd 0%, #0000ff 100%);
	color: white;
	font-size: 1.25em;
	border-radius: 0px 0px 15px 0px;
}
.sidebar-title {
	padding: 0.5em;
	text-align: center;
}
.sidebar-block {
	padding: 0.5em 0 0.5em 0;
	text-align: center;
}
.sidebar-active {
	background: #0d6efd;
	border-radius: 45px;
}
.sidebar-link {
	display: block;
	padding: 0.75em;
	padding-left: 2em;
	color: white;
	text-decoration: none;
	transition: 1s;
}
.sidebar-link:hover {
	background: #0d6efd;
	border-radius: 45px;
}
/* End Sidebar */


/* Card */
.card-container {
	display: grid;
	grid-column: 1/13;
	grid-template-columns: repeat(3, 1fr);
}
.card {
	margin: 1em 1em 0 1em;
	border: solid 0.1px rgb(200, 200, 200);
	transition: 1s;
}
.card:hover {
	border-radius: 45px;
	background: #bcd7ff;
}
.card-img-container {
	padding: 1em;
}
.card-img {
	width: 100%;
}
.card-title {
	text-align: center;
	padding: 1em 1em 0 1em;
}
.card-text {
	padding: 1.5em;
}
.read-more-container {
	margin-bottom: 1em;
	text-align: center;
}
.read-more {
	background: #0d6efd;
	color: white;
	text-decoration: none;
	padding: 0.5em;
	transition: 1.5s;
}
.read-more:hover {
	border-radius: 45px;
}
/* End Card */


/* Pagination */
.main-pagination {
	display: flex;
	justify-content: center;
	margin: 2em;
}
.pagination {
	display: flex;
	list-style-type: none;
}
.page-link {
	background: #0d6efd;
	border: solid 0.1px rgb(200, 200, 200);
	border-radius: 90px;
	padding: 0.75em 1.1em 0.75em 1.1em;
	margin: 0.5em;
	text-decoration: none;
	color: white;
	transition: 0.75s;
}
.page-link:hover {
	background: white;
	color: #0d6efd;
	text-decoration: underline;
}
/* End Pagination */


/* Preloader */
/* Colors */
:root {
	--color-default: #fafafa;
	--color-primary: #27a776;
	--color-secondary: #0d6efd;
}

/* End Colors */
#preloader {
	display: flex;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100vh;
	z-index: 99999;
}

#preloader:before,
#preloader:after {
	content: "";
	background-color: var(--color-secondary);
	position: absolute;
	inset: 0;
	width: 50%;
	height: 100%;
	transition: all 0.3s ease 0s;
	z-index: -1;
}

#preloader:after {
	left: auto;
	right: 0;
}

#preloader .line {
	position: relative;
	overflow: hidden;
	margin: auto;
	width: 1px;
	height: 280px;
	transition: all 0.8s ease 0s;
}

#preloader .line:before {
	content: "";
	position: absolute;
	background-color: white;
	left: 0;
	top: 50%;
	width: 1px;
	height: 0%;
	transform: translateY(-50%);
	-webkit-animation: lineincrease 1000ms ease-in-out 0s forwards;
	animation: lineincrease 1000ms ease-in-out 0s forwards;
}

#preloader .line:after {
	content: "";
	position: absolute;
	background-color: #999;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	transform: translateY(-100%);
	-webkit-animation: linemove 1200ms linear 0s infinite;
	animation: linemove 1200ms linear 0s infinite;
	-webkit-animation-delay: 2000ms;
	animation-delay: 2000ms;
}

#preloader.loaded .line {
	opacity: 0;
	height: 100% !important;
}

#preloader.loaded .line:after {
	opacity: 0;
}

#preloader.loaded:before,
#preloader.loaded:after {
	-webkit-animation: preloaderfinish 300ms ease-in-out 500ms forwards;
	animation: preloaderfinish 300ms ease-in-out 500ms forwards;
}

@-webkit-keyframes lineincrease {
	0% {
		height: 0%;
	}

	100% {
		height: 100%;
	}
}

@keyframes lineincrease {
	0% {
		height: 0%;
	}

	100% {
		height: 100%;
	}
}

@-webkit-keyframes linemove {
	0% {
		transform: translateY(200%);
	}

	100% {
		transform: translateY(-100%);
	}
}

@keyframes linemove {
	0% {
		transform: translateY(200%);
	}

	100% {
		transform: translateY(-100%);
	}
}

@-webkit-keyframes preloaderfinish {
	0% {
		width: 5 0%;
	}

	100% {
		width: 0%;
	}
}

@keyframes preloaderfinish {
	0% {
		width: 5 0%;
	}

	100% {
		width: 0%;
	}
}

.form-container {
	text-align: center;
}

/* End Preloader */